h2{
  color: white;
  text-align: left;
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li a {
  color: #999;
  text-decoration: none;
}

.menu li + li {
  margin-left: 35px;
}

.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}

form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

form input#username,
form input#password,
form input#homefolder,
form input#shelltype,
form input#value1,
form input#value2,
form input#value3,
form input#value4,
form input#sudo_options {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;  
     -moz-border-radius: 3px;  
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
