<html>
  <head>
    <title>Idea Device Problem App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div >
        <h2>Python Flask App</h2>
        <nav>
	<ul class="menu">
        <li><a href="{{ url_for('create') }}">Create</a></li>
        <li><a href="{{ url_for('delete') }}">Delete</a></li>
	<li><a href="{{ url_for('modify') }}">Modify</a></li>
        <li><a href="{{ url_for('grant_sudo') }}">Grant Sudo</a></li>
 	</ul>
      <nav>     
      </div>
    </header>
    <div> 
      {% block content %}
      {% endblock %}
    <div>
  </body>
</html>
