{% extends "base.html" %}
 
{% block content %}
  <h3>Modify Data</h3>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <form action="" method=post>
    {{ form.hidden_tag() }}
    Enter the username    ::
    {{ form.value1 }}
    <br>
    Select Option ::
    {{ form.options }}
    <br>
    Enter the new username::
    {{ form.value2 }}
    <br>
    Enter the new home dir   ::
    {{ form.value3 }}
    <br>
    Enter the new password::
    {{ form.value4 }}
    <br>
    {{ form.submit1 }}

  </form>
{% endblock %}
