{% extends "base.html" %}
 
{% block content %}
  <h3>Create Username</h3>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <br>
  <form action="" method=post>
    {{ form.hidden_tag() }}
    Enter usernme   ::
    {{ form.username }}
    <br>
    Enter password::
    {{ form.password }}
    <br>
    Enter home dir  ::
    {{ form.homefolder }}
    <br>
    Enter shell type::
    {{ form.shelltype }}
    <br>
    {{ form.submit }}
  </form>
{% endblock %}
